

body {
	margin: 0;
	padding: 0;
	color: black, #555;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px; 
	background-attachment: fixed;
	background-image:url('../Images/thalassa.jpg');
}

p {
	font-size:12px;
	line-height: 22px;
}

#container {
	width:960px; 
	text-align:center; 
	height:411px; 
	margin-left:204px; 
	margin-right:204px;
}

#header {
	background-color: rgba(0, 0, 0, 0);
	height:80px;
	margin-left: 20px;
}


#firstcolumn {
	background-color: rgb(204, 204, 255);
	border:#335F87;
	border-width:1 px;
	background-image:url('../Images/mple.jpg');
	background-size: 300px 411px;
	height:411px;
	width:300px;
	float:left;
	margin-left: 20px;
	margin-top: 10px;
	
}

#secondcolumn {
	background-color:#EEEEEE;
	height:411px;
	width:620px;
	float:left; 
	margin-left: 16px;
	margin-top: 10px;
}


 