#foto2{ 
  background:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	color: black, #555;
	font-family: Arial, sans-serif;
	font-size: 11px;
	line-height: 20px; 
}

section {
	width: 900px;
	margin: 0 auto;
}

p {
	font-size:12px;
	line-height: 22px;
}

#container {
	width:960px; 
	text-align:center; 
	height:411px; 
	margin-left:204px; 
	margin-right:204px;
}

#header {
	background-color: rgba(0, 0, 0, 0);
	height:80px;
	margin-left: 20px;
	text-align: center;
	width: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
	font-weight: bold;
	font-size: 42px;
	line-height: 1.3em;
	font-style: normal;
	color: #000000;
	position: relative;

}


#firstcolumn {
	background-color: rgb(204, 204, 255);
	border:#335F87;
	border-width: 1 px;
	background-image:url('../img/mple.jpg');
	background-size: 300px 411px;
	height:411px;
	width:300px;
	float:left;
	margin-left: 20px;
	margin-top: 10px;
	
}

#secondcolumn {
	background-color:#EEEEEE;
	height:411px;
	width:620px;
	float:left; 
	margin-left: 16px;
	margin-top: 10px;
	
}

/* contact.html */

#firstcolumn2 {
	background-color: #2d2d2d;
	border:#335F87;
	height:411px;
	width:350px;
	float:left;
	margin-left: 20px;
	margin-top: 10px;
	-webkit-border-radius: 15px;
      -moz-border-radius: 15px;
     border-radius: 15px;
     border:solid 1px #444;
}

#secondcolumn2 {
	background-color:#F2F2F2;
	height:201px;
	width:250px;
	float:left; 
	margin-left: 6px;
	margin-top: 10px;
	-webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border:solid 1px #444;
}
 
#header2 {
	height:40px;
	width:350px;
	background-color: transparent;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	text-align: center;
	font-size: 18px;
	line-height: 2em;
	font-style: normal;
	color:#FFFFFF;
}
.clearfix {
	height: 30px;
	width: 350px;
}

input.text {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border:solid 1px #444;
      font-size: 14px;
      width: 80%;
      padding: 7px 8px 7px 30px;
      -moz-box-shadow: 0px 1px 0px #777;
      -webkit-box-shadow: 0px 1px 0px #777;
	  background: #ddd url('../img/inputSprite.png') no-repeat 4px 5px;
	  background: url('../img/inputSprite.png') no-repeat 4px 5px, -moz-linear-gradient(
           center bottom,
           rgb(225,225,225) 0%,
           rgb(215,215,215) 54%,
           rgb(173,173,173) 100%
           );
	  background:  url('../img/inputSprite.png') no-repeat 4px 5px, -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(225,225,225)),
          color-stop(0.54, rgb(215,215,215)),
          color-stop(1, rgb(173,173,173))
          );
      color:#333;
      text-shadow:0px 1px 0px #FFF;
}	  

 input#email { 
 	background-position: 4px 5px; 
	background-position: 4px 5px, 0px 0px;
	}
	
 input#name { 
 	background-position: 4px -46px; 
	background-position: 4px -46px, 0px 0px; 
	}
	
textarea {
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      border:solid 1px #444;
      font-size: 14px;
      width: 80%;
      padding: 7px 20px 7px 8px;
      -moz-box-shadow: 0px 1px 0px #777;
      -webkit-box-shadow: 0px 1px 0px #777;
	  background:-moz-linear-gradient(
           center bottom,
           rgb(225,225,225) 0%,
           rgb(215,215,215) 54%,
           rgb(173,173,173) 100%
           );
	  background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(225,225,225)),
          color-stop(0.54, rgb(215,215,215)),
          color-stop(1, rgb(173,173,173))
          );
      color:#333;
      text-shadow:0px 1px 0px #FFF;
}	  
.nicebutton {
	-moz-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	background-color:#82bdf5;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 54px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
.nicebutton:hover {
	background-color:#5493c9;
}
.nicebutton:active {
	position:relative;
	top:1px;
}
.classname {
	-moz-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	background-color:#82bdf5;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 54px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}.classname:hover {
	background-color:#5493c9;
}.classname:active {
	position:relative;
	top:1px;
}
