body {
	padding: 0;
	color: black, #555;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	z-index: 20;
}

.navbar .brand {
	padding-top: 6px;
	padding-bottom: 0px;
}

header > .navbar-inner {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

h1 {
	margin: 0;
	padding: 0;
	line-height: 20px;
}

#content-container {
	margin: 0 auto;
	overflow: auto;
}

section {
	padding:42px 50px 0;
	overflow: hidden;
	margin: auto;
	width:1100px;
}

section:not(:last-child) {
	margin-bottom: 30px;
}

p {
	font-size:12px;
	line-height: 22px;
}

.column {
	max-width: 500px;
	width: 500px;
	display: inline-block;
}

.column:first-child {
	float: left;
	margin-right: 100px;
}

#container {
	text-align:center; 
	height:411px; 
}

#home h2 {
	text-align: center;
	margin-top: 0;
	color: white; text-shadow: black 0.1em 0.1em 0.2em
}

#home .content {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: transparent 90%;
	/*font-weight:bold; */
	color: white; text-shadow: black 0.1em 0.1em 0.4em
}

#home .content p {
	text-indent: 50px;
	text-align: justify;
	font-size:14px;
	margin-top:20px;
	margin-bottom:20px;
}

#home .content .tagline {
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin: 15px;
}

#home .column:last-child {
	padding-top: 15px;
}


#home {
	/*background-image: url("../img/sky.jpg");
	background-repeat:repeat; 
   
    background-image: url("../img/sea_wallpaper.jpg");
	background-repeat: no-repeat;
	position: top center; */

}


#application-buttons {
	text-align: center;
}

#application-buttons > div {
	display: inline-block;
	margin: 10px;
}

.sectionBackground.organizers {
	background-image: url("../img/voutia.jpg");
	background-repeat: no-repeat;
	background-position: center center;
}

#organizers, #participants {
	padding-top: 45px;
}

#organizers .thumbnail {
	background: white;
	display: inline-block;
}

#participants .thumbnail {
	background: white;
	display: inline-block;
} 

.sectionBackground.contact {
	background-image: url("../img/images5.jpg");
	background-repeat: no-repeat;
	position: top center;
}

textarea {
	display: block;
	width: 430px;
}
	
#contact div:last-child h2 {
	margin-top: 0;
}

#contact legend, #contact h2, #contact h3, #contact .phone, #contact a:hover, #contact .p {
	color: whiteSmoke;
}
#contact .p, #contact .phone {
	font-size: 20px;
}

#map-container {
	border: 0;
	width: 100%;
}

.sectionBackground.about {
	background-image: url("../img/blue-sky.jpg");
	background-repeat: no-repeat;
	position: top center;
    
}
.sectionBackground.participants {
	background-image: url("../img/images6.jpg");
	background-repeat: no-repeat;
	position: top center;
}
.sectionBackground.home {
	background-image: url("../img/images.jpg");
	background-repeat: no-repeat;
	position: top center;
    
}

.sectionHeader {
	width=100%
	height:30px;

}

.about.texts {
	background-color:#eee; 
	border: 1px solid black; 
	border-radius:4px; 
	width:1050px; 
	height:333px
}

.sectionBackground.sponsors {
	background-image: url("../img/thalassa.jpg");
	background-repeat: repeat;
	position: top center;	
}
.sectionBackground.schedule {
	background-image: url("../img/nature.jpg");
	background-repeat: no-repeat;
	position: top center;
}

#schedule div {
	
}

#sponsors div {
	width:516px;
	height:250px;
}
