#foto2{ 
  background:no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	padding: 0;
	color: black, #555;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	z-index: 20;
}

header > .navbar-inner {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

h1 {
	margin: 0;
	padding: 0;
	line-height: 20px;
}

#content-container {
	width: 1200px;
	margin: 0 auto;
	overflow: auto;
}

section {
	padding:60px 50px 0;
	overflow: auto;
}

section:not(:last-child) {
	margin-bottom: 30px;
}
/*
nav {
	line-height: 50px;
	margin-left: 300px;
	font-size: 18px;
}

nav a:not(:last-child) {
	margin-right: 20px;
}
*/
p {
	font-size:12px;
	line-height: 22px;
}

.column {
	max-width: 500px;
	width: 500px;
	display: inline-block;
}

.column:first-child {
	float: left;
	margin-right: 100px;
}

#container {
	width:960px; 
	text-align:center; 
	height:411px; 
	margin-left:204px; 
	margin-right:204px;
}

#home .content {
	margin-bottom: 20px;
}

#home .content p {
	text-indent: 50px;
	text-align: justify;
}

#home .content .tagline {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px;
}

#application-buttons {
	text-align: center;
}

#application-buttons > div {
	display: inline-block;
	margin: 10px;
}

form input {
	margin-bottom: 10px;
}

input.text {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border:solid 1px #555;
      font-size: 14px;
      width: 80%;
      padding: 7px 8px 7px 36px;
	  background:  url('../img/inputSprite.png') no-repeat 4px 5px, whiteSmoke;
      color:#333;
      text-shadow:0px 1px 0px #FFF;
}

textarea:focus, input:focus {
	outline: none!important;
}

#email { 
 	background-position: 4px 5px; 
	background-position: 4px 5px, 0px 0px;
}
	
#name { 
 	background-position: 4px -46px; 
	background-position: 4px -46px, 0px 0px; 
}
	
textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:solid 1px #555;
	font-size: 14px;
	width: 80%;
	padding: 7px 36px 7px 8px;
	background: whiteSmoke;
	color:#333;
	text-shadow:0px 1px 0px #FFF;
}
		
.nicebutton {
	-moz-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	background-color:#82bdf5;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 54px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}
		
.nicebutton:hover {
	background-color:#5493c9;
}
		
.nicebutton:active {
	position:relative;
	top:1px;
}

.classname {
	-moz-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	box-shadow:inset 0px 0px 0px 0px #a2c8eb;
	background-color:#82bdf5;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:5px 42px;
	text-decoration:none;
	text-shadow:0px 0px 0px #528ecc;
}

.classname:hover {
	background-color:#5493c9;
}

.classname:active {
	position:relative;
	top:1px;
}

#contact div:last-child h2 {
	margin-top: 0;
}